html {
  color-scheme: light dark;
  background-color: Canvas;
  color: CanvasText;
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}

:root {
  --color-accent: oklch(50.969% 0.18831 280.217); 
}

nav{
    display: flex;                
    margin-bottom: 1em;          
    --border-color: oklch(50% 10% 200 / 40%); 
    border-bottom-color: var(--border-color);
}

nav a{
    flex: 1;                      
    text-align: center;            
    text-decoration: none;         
    color: inherit;                
    padding: 0.5em 0;              
}

nav a.current{
    border-bottom: 0.4em solid oklch(80% 3% 200); 
    padding-bottom: 0.1em;       
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent); 
  padding-bottom: 0.1em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

html {
  accent-color: var(--color-accent);
}

form {
    display: grid;                        
    grid-template-columns: auto 1fr;  
    gap: 1em 1em;                
}

form label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;      
    gap: 1em;                      
}

form button {
    grid-column: 1 / -1; 
    cursor: pointer;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em
}

article {
    display: grid;   
    grid-template-rows: subgrid; 
    grid-row: span 3;   
}

article h2 {
    margin: 0;
}

h1{
    font-size: 4em;        
    line-height: 1.1;      
    text-wrap: balance; 
}

section h2 {
    font-size: 2em;
    line-height: 1.2;
    margin: 1.5em 0 0.5em 0;
    border-bottom: 2px solid #ddd; 
    padding-bottom: 0.2em;
    margin: 0.1em 0;
}

section h3 {
    font-size: 1.25em;
    margin: 0.2em 0;
}

article header p {
    font-style: italic;
    font-size: 0.9em;
    color: #555;
    margin: 0.2em 0;
}

article ul{
    margin: 0.1em 0;
}

li {
    list-style-type: "> "; 
    margin-bottom: 0.5em;
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
  background: var(--sys-bg, Canvas);
  color: var(--sys-text, CanvasText);
  padding: 0.4em 0.8em;
}

label.color-scheme select {
  font-family: inherit;
  font-size: 0.9em;
  background: var(--sys-bg, Canvas);
  color: var(--sys-text, CanvasText);
  border: 1px solid var(--border-color, rgba(0, 0, 0, 0.3));
  border-radius: 0.3em;
  padding: 0.2em 0.4em;
}

#profile-stats dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto auto;
    gap: 0.5rem 1rem;
}

#profile-stats dt {
    grid-row: 1; 
    font-weight: bold;
    text-align: center;
}

#profile-stats dd {
    grid-row: 2; 
    margin: 0; 
    text-align: center;
}

.project-year {
  color: #848484;
  font-style: italic;
  font-family: Baskerville, "Times New Roman", serif;
  font-variant-numeric: oldstyle-nums;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}


.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  gap: 2rem;           
}

svg {
  flex: 1;       
  width: 200px;
  height: auto;
}

.legend {
  flex: 1;   
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;            
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend-item {
  display: flex;
  align-items: center; 
  gap: 0.5rem;
}

.swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--color);
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(40.512% 0.12422 294.588) !important;

  &:is(path) {
    fill: var(--color);
  }
}

